/PCD/Practica8PCD/nbproject/private/
/PCD/Practica8PCD/build/
/PCD/Practica8PCDMonitores/nbproject/private/
/PCD/Practica8PCDMonitores/build/
/PCD/Practica9PCD/nbproject/private/
/PCD/Practica10PCD/nbproject/private/
